export interface API {
    alert(message: string): void;
}

export interface APIEventsMap {
    'alert': (message: string) => void;
}


export type ClientButtonProps = {
    onClick: () => void;
    message: string;
}

export type ServerButtonProps = {
    onClick: () => void;
    children: string;
}