import React from 'react';
import { ClientButtonProps, ServerButtonProps } from '../../types';

export function createButton(
  Button: React.ComponentType<ClientButtonProps>,
  ) {
    return function ButtonServer(props: ServerButtonProps) {
        return <Button onClick={props.onClick} message={props.children} />;
    };
  }