import { implementApi } from "freeact";
import { APIEventsMap, API } from "../types";

export const api = implementApi<APIEventsMap, API>(({ emit }) => {
  return {
    alert(message: string) {
      emit("alert", message);
    },
  };
});
