import { URL } from "url";
import path from "path";

function dirname() {
  // if commonjs
  if (typeof __dirname === "string") {
    return __dirname;
  }
  // if esm
  return path.dirname(new URL(import.meta.url).pathname);
}

export function clientDir() {
    return path.join(dirname(), "../client");
}

export const name = $packageName$;