import { createServerModule } from "freeact";
import { api } from "./api";
import { createButton } from "./components/Button";

export default createServerModule(
  import("../client"),
)
  .implementApi(api)
  .overrideWithServerComponents((comps) => ({
    Button: createButton(comps.Button),
  }))
  .done("DOM");
